*{
    margin: 0;
    padding: 0;
}

.outside{

    width:400px;
    height:400px;
    background-color: aquamarine;
    position: relative;
}

.inside{
    position: absolute;
    /*width: auto;*/
    /*height:auto;*/
    top:0;
    left:0;
    bottom:0;
    right:50%;
    background: red;
    padding:2em;
    width:50%;
    height:100%;

}

.overflow{
    width:100px;
    height:100px;
    border: 1px solid black;
    overflow: visible;
}