input:focus{
    background: silver;
    font-weight:bold;
}

a:hover{
    color:red;
}
a:link{
    font-size: 13px;
}

a:visited{
    font-size: 13px;
}

/*p:first-child{*/
    /*font-weight:bold;*/
/*}*/

li:first-child{
    text-transform: uppercase;
}


a:link:hover{      /*对于未访问的元素使用hover时,颜色变为灰色.*/
    color:gray;
}

a:visited:hover{
    color:red;
}

/*p::first-letter*/
/*{*/
    /*font-size:200%;*/
    /*color:#8A2BE2;*/
/*}*/

p:first-line{
    color:#8A2BE2;
}

h2:before{
    content: "]]";
    color:silver;
}

h2:after{
    content:"@@@";
    color:red;
}